@media only screen and (max-width: 800px) {
    .contenedor-carta-edif{
    grid-template-columns: 1fr  ;
    }
.encabezado_nav{
    flex-direction: column;
}
.footer {
  
    &_container__grid{
        grid-template-columns: 1fr;

    }
}
.content-input{
    height: 400px;
}
.encabezado_menu{
    li{
        a{
            font-size: 12px;
        }
    }
}

.Titulos{
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 18px;
    }
}

.carta-edificio{
    &__contenido{
        font-size: 14px;
    }
}

}
@media only screen and (max-width: 600px) {
    .nav {
        flex-wrap: wrap;
    }
    .hero-main {
        flex-wrap: wrap;
    }
    .menu {
        font-size: 12px;

        h1 {
            font-size: 28px;
        }

        h2 h3 {
            font-size: 24px;
        }
    }

    
    .content-input {
        width: 100%;
        right: 0px;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .imagen-wthassap {
        height: 68px;
    }

    .container__grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 16px;
    }
}
