.container-propiedades{
    padding-left: 15%;
    padding-right: 15%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background: #4a1719;    
    h1{
        color: white;
    }
}

.container-form{
display: flex;

}