* {
    margin: 0;
    padding: 0;
    color: inherit;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #f3eae8 !important;
}
img,
video,
svg {
    max-width: 100%;
    height: auto;
}
