$clr-light: hsl(0, 0%, 97%);
$clr-dark: rgb(0, 0, 0);
$clr-color: #3a38387a;
$clr-grey: #343434;
$clr-blue:rgb(31, 31, 156);
$clr-green:#002500;
$ancho:600px; 
$altura:600px;
$temperatura: 60;
$primary: rgb(250, 246, 0);
$secondary: rgba(59, 148, 15, 0.918);    
$border-radius: 6px;
  

